@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: ;
    src: url();
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    height: 100dvh;
    display: grid;
    place-items: center;
    /* only for demo purposes */
}

/* CTA knap */

.knap {
    font-size: 2em;
    background-color: bisque;
    padding: 1em;
    border-radius: .5em;
    text-decoration: none;
}

.knap:hover {
    background-color: black;
    color: white;
}